.banner-card
{
  background-color:rgb(251, 251, 251);
  width:100vw;
  border-radius:10px;
}
.banner-image
{
  height:70vh;
  width:100%;
  

}
.banner-text
{
  position:absolute;
  color:white;
  top:60vh;
  left:5vw;
  margin-right: 5vw;
 
}
.banner-title
{
  position:absolute;
  color:white;
  top:50vh;
  font-size: 2rem;
 
  left:9vh;
  
  
}
@media screen and (max-width:400px) { 
  .banner-card{
    height:25vh;
  }

  .banner-img{
    height:30vh;
  }

  .banner-title{
    top:10vh;
    left:5vw;
  }

  .banner-text{
    top:15vh;
    left:5vw;
  }

  .movie-card{
    width: 40vw;
    margin: 0.1rem;
  }
  .movie-button{
    width: 80%;
  }
  .movie-img{
    width: 40vw;
  }

  
  
}
